name: gdsffsfdsHAHAHCI/CD Pipeline
  
on:
  push:
    branches: [ feature-test ]
permissions:
  id-token: write
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::130705418859:role/dev-devseccops-github-role
          aws-region: ap-south-1


      - name: Create ECR repository
        id: ECR
        run: |
          aws ecr describe-repositories --region ap-south-1 --repository-names ${{ github.event.repository.name }} || aws ecr create-repository --region ap-south-1 --repository-name ${{ github.event.repository.name }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Set Environment variables
        id: prep
        run: |
          echo "ECR_REGISTRY=${{ steps.login-ecr.outputs.registry }}" >> $GITHUB_OUTPUT
          echo "ECR_REPOSITORY=${{ github.event.repository.name }}" >> $GITHUB_OUTPUT
          echo "IMAGE_TAG=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          echo "IMAGE_VERSION=${{ github.run_number }}" >> $GITHUB_OUTPUT
          echo "CLUSTER=dev-devseccops-eks-cluster" >> $GITHUB_OUTPUT
          echo "GIT_TOKEN=${{ secrets.GH_TOKEN }}" >> $GITHUB_OUTPUT

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        run: |
          docker build -t 130705418859.dkr.ecr.ap-south-1.amazonaws.com/${{ github.event.repository.name }}:feature-test-${{ github.run_number }} .
          docker push 130705418859.dkr.ecr.ap-south-1.amazonaws.com/${{ github.event.repository.name }}:feature-test-${{ github.run_number }}