name: CI/CD Pipeline
on:
  push:
    branches: [main]

jobs:
  unit-testing:
    name: Unit Testing Pipeline
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js 16.20.2
        uses: actions/setup-node@v4
        with:
          node-version: 16.20.2
      
      - name: Install Dependencies
        run: npm install --legacy-peer-deps
      
      - name: Run Unit Tests
        run: npm test

  sonarqube-scan:
    name: SonarQube Scan
    runs-on: ubuntu-latest
    needs: [unit-testing]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Javascript 16.20.2
        uses: actions/setup-node@v4
        with:
          node-version: '16.20.2'
          cache: npm
      
      - name: Install Dependencies
        run: npm ci --legacy-peer-deps

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@v6
        with:
          projectBaseDir: .
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  owasp-dependency-check:
    name: OWASP Dependency-Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Java (OWASP Dependency)
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      
      - name: Set up Node.js 16.20.2
        uses: actions/setup-node@v4
        with:
          node-version: '16.20.2'
          cache: 'npm'
      
      - name: Install Dependencies
        run: npm ci --legacy-peer-deps
      
      - name: Run OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@main
        env:
          JAVA_HOME: /opt/jdk
        with:
          project: myorg-nodejs-project
          scanPath: .
          format: HTML
          outDir: reports
      
      - name: Upload Dependency-Check Report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: reports/dependency-check-report.html